// Place all the styles related to the Forex_Example controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.basic-header
{
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
.font-light
{
	color: #FAFAFA;
}
.center
{
	text-align: center;
}

.form_padding
{
	margin-top: 10%;
}

.form_container
{
	padding: 50px 0px 100px 0px;
	display: block;
}

.form-control
{
	display: inline;
	width: 100%;
}
.form-input
{
	padding-top: 5px;
}
.form-margin
{
	margin-top: 10px;
}
.light-bg
{
	background-color: #03A0FF;
}
.form-container-center
{
	padding-top: 10%;
}



